<div class="box p-3 mb-5">
    <h1>Uso de PIPE OPERATORS</h1>
    <p>Alterações em string com operadores após o pipe</p>
    <p>{{'Uma string em caixa alta: uppercase' | uppercase}}</p>
    <p>{{'cada inicial de palavra com letra maiuscula: titlecase' | titlecase}}</p>
    <p>{{today | date: "YYYY-MM-dd"}} - Formato de data: date:"YYYY-MM-dd"</p>
    <p>{{today | date: "YYYY-MM"}} - Formato de data: date:"YYYY-MM"</p>
    <p>{{today | date: "fullDate"}} - Formato de data: date:"fullDate"</p>
</div>