<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">MyAngular App</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/compartilhamento-dados" routerLinkActive="active"> <i class="bi bi-share"></i> Compartilhamento de dados </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/interfaces" routerLinkActive="active"> <i class="bi bi-filetype-json"></i> Interfaces</a>
            </li>      
            <li class="nav-item">
                <a class="nav-link" routerLink="/operador-pipe" routerLinkActive="active"> <i class="bi bi-code-slash"></i> Operador PIPE</a>
            </li>      
            <li class="nav-item">
                <a class="nav-link" routerLink="/two-way-binding" routerLinkActive="active"> <i class="bi bi-input-cursor-text"></i> Two-Way-Binding</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" routerLink="/servicos" routerLinkActive="active"> <i class="bi bi-database-check"></i> Serviços</a>
            </li> 

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Routes
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="item/1" routerLinkActive="active">Params</a></li>                
                </ul>
              </li>
        </ul>
        </div>
    </div>
</nav>
